footer {
  padding: 1.5rem 3rem; }

footer .row {
  max-width: 100%; }

footer .columns {
  padding-left: 0; }

footer .social {
  text-align: right; }

footer .social img {
  height: 35px;
  width: 35px; }

footer .social .social-icon {
  height: 35px;
  width: 35px;
  background: #A5ACBA;
  border-radius: 20px; }

footer p {
  color: #7d8892;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 0.5rem; }
